{
  "extends": ["eslint:recommended"],
  "env":{
    "meteor": true,
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
  },
  // To give you an idea how to override rule options:
  "rules": {
    "quotes": [2, "single"],
    "no-console": [0],
    "eol-last": [0],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "semi": [2, "always"],
    "radix": [0],
  }
}
